html{
    box-sizing: border-box;
    font-family: TT Lakes;
}
body{
    background: #F8F8F8;
}
*,*::before,*::after{
    box-sizing: inherit;
}

body, h1,h2,h3,h4,h5,h6, button, p{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    cursor: default;
}
button{
    cursor: pointer;
}

a{
    font-family: TT Lakes;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
button{
    outline-color: transparent;
    background-color: inherit;
    border-style: none;
}
/* sec header */
.header{
    background-color: #fff;
}
.header::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #D9FFF5;
}
.main-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
   padding: 18px 16px 18px 16px;
}
.main-menu__ineer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    /* bag padding: 16px 0; */
    /* padding: 16px 0;  */
}

.logo .main-menu__logo, a img{
    display: block;
    margin: 0;
    padding: 0;
}
.main-menu__dividing-line{
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #EAEAEA;
    margin-right: 4px;
}
/* sec Услуги и сервисы */
.services{
    padding: 24px 16px 0 16px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.services__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main-title__highlight{
    display: block;
    position: absolute;
    left: 0;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 4px 4px 0;
}
.main-title__text{
    color: #1B1C21;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
}
.services__main-menu{
    display: none;
    flex-direction: row;
    gap: 32px;
}
.services__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.services-menu{}
.services-menu__items{
    margin: 0;
    padding: 0;
    margin-right: -16px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

/* todo  только для webkit */
/* bag увеличивает размер блока */
.services-menu__items::-webkit-scrollbar{
    width: 0;
}

.services-menu__items::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 41px;
    width: 24px;
    background: linear-gradient(to left, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
}
.services-menu__item{
    flex:none;
    padding: 2px;
}
.services-menu__button{
    padding: 6px 16px;
    border-radius: 6px;
    /* border: 1px solid #000; */
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}
.services-menu__item > button:focus{
    background-color: #fff;
    outline: 2px solid #B8FFEC;
}


.reviews{
    margin-left: 24px;
    display: none;
    color: #7E7E82;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;

    width: max-content;
}
.services-about{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.services-about__inner{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.services-about__text{
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services-about__image{
    border-radius: 10px;
}
.services-about__button{
    display: flex;
    align-items: center;
    gap: 8px;

    width: max-content;
}
/* bag */
.reviews:focus{
    outline: 2px solid #B8FFEC;
    outline-offset: 8px;
    border-radius: 1px;
}
.services-about__button-text{
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}
/*sec медиа запросы */
@media screen and (max-width: 319px){
    body::before{
        content: "";
        display: block;
        left: 0;
        top: 0;
        position:fixed;
        width: 100%;
        height: 100%;
        background-image: url(https://images.unsplash.com/photo-1700864208310-0849428c612f?q=80&w=872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-position: center;
        background-size: cover;
        z-index: +1;
    }

}
@media screen and (min-width: 320px) and (max-width:767px){
    .main-menu{
        justify-content: space-between;
    }
    .mid-text{
        display: none;
    }
    .services-about{
        flex-direction: column;
    }
    .services-about__text{
        height: 90px;
        overflow: hidden;
    }

    #main-menu__dividing-lin-1, .main-menu__call-button,
    .main-menu__chat-button, .main-menu__profile-button{
        display: none;
    }
    .services-about__image{
        border-radius: 0px;
        margin: 0 -16px 0 -16px;
    }
}
@media screen and (min-width:768px) and (max-width:1119px){
    .mid-text{
        display: block;
    }
    .max-text{
        display: none;
    }
    .services{
        padding: 24px 24px 0 24px;
        display: flex;
        gap: 32px;
        flex-direction: column;
    }
    .main-menu{
        justify-content: space-between;
        padding: 18px 24px;
    }
    #main-menu__dividing-lin-1, .main-menu__call-button,
    .main-menu__chat-button, .main-menu__profile-button{
        display: block;
    }
    .services-about{
        flex-direction: row;
        gap: 48px;
    }
    .services-about__text{

        height: 160px;
        overflow: hidden;
        line-height: 20px; /* 142.857% */
 
    }
    .services-about__inner{
        flex-basis: 44%;
    }
    .services-about__image{
        flex-basis: 55%;
    }
    .services-about__inner{
        gap: 10px;
    }
}
@media screen and (min-width:1120px){
    .services-menu__items{
        flex-wrap: wrap;
    }
    .max-text{
        display: inline;
    }
    .header{
        display: none;
    }
    .services{
        padding: 42px 32px 0 32px;
        display: flex;
        gap: 14px;
    }
    .services__header{
        display: flex;
        /* margin-bottom: 9px; */
    }
    .services__main-menu{
        display: flex;
    }
    .reviews{
        display: block;
        margin-top: 14px;
        margin-bottom: 26px;
    }
    .services-about__inner{
        gap: 12px;
    }
    .services-about__inner{
        flex-basis: 48%;
    }
    .services-about__image{
        flex-basis: 52%;
    }
    .services-about{
        flex-direction: row;
        gap: 36px;
    }
}